<div class="container d-flex flex-column p-3">
  <h1 class="text-light mb-3 text-center">Welcome to Biggest SubString</h1>
  <h3 class="text-center text-white-50 mb-3">
    Please input the string to process in the form below.
  </h3>
  <%= render 'form' %>
  <div class="d-flex w-75 align-self-center justify-content-center align-items-center">
    <h5 class="text-center align-self-center text-white-50">
      The maximum length is 100 chars.<br>
      Characters besides A-Z and 0-9 are forbidden.<br>
      The app will take care of sanitizing the string before processing.
    </h5>
  </div>
</div>